.Folder {
	background-color: #232323;
	list-style:none;
	font-size: 14px;
	padding: 0;
	margin: 0;
	user-select: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	ul {
		margin: 0px;
    	padding: 0px;
		li {
			margin: 0px;
			padding: 0px;
		}
	}
	
	svg {
		margin: 0 0.3em 0 0em;
	}
	&:hover {
		cursor:pointer;
	}
}