.SideBar {
	position: relative;
	min-width: 16vw;
	width: fit-content;
	height: 100%;
	color: #ffffff;
	overflow-y:scroll;
	background-color: #232323;
	
	&_ControlBar{
		display:flex;
		position: absolute;
		top: 0;
		width: 100%;
		justify-content: flex-end;
		align-items:center;
		height: 2em;
		border: 1px solid #181A1F;
		background-color: #2C2C2C;
		color: #6877F6;
		span {
			position: absolute;
			left: 1em;
			top: 0.4em;
			font-size: 0.8em;
			color: #555558;
		}
		* {
			margin-right: 5px;
			margin-bottom: 2px;
		}
		
		*:nth-child(2) {
			margin-right: 7px;
		}
		
		*:nth-child(3) {
			margin-right: 11px;
		}
		
		svg:hover {
			cursor:pointer;
			opacity: 60%;
		}
	}
	
	&_FileWrapper {
		padding-top: 2em;
		overflow-y:scroll;
		padding-bottom: 1em;
	}
}

.Editing {
	background-color: #434C5E !important;
	opacity: 60%;
}
