.Body {
	background-color:#1F1E1E;
	width: 100%;
	height: 100%;
	div:nth-child(2) {
		height: 96%;
	}
	textarea {
		resize: none;
		outline: none;
		border:none;
		width: 96%;
		height: 100%;
		background-color:#1F1E1E;
		color: #ffffff;
	}
	textarea:focus {
		outline: none;
		border:none;
		box-shadow: none !important;
		background-color:#1F1E1E;
		color: #ffffff;
	}
	
	img {
		max-width: 96%;
		max-height: 87vh;
	}
	label {
		color: #ffffff;
	}
}