.Header {
	display: flex;
	background-color: #2C2C2C;
	align-items: flex-end;
	width:100%;
	height: 8%;
	color: #ffffff;
	strong {
		margin:0;
		padding:0;
		color: #6877F6;
	}
	p {
		font-size: 3em;
		margin: 0 0 0.2em 1em;
		padding:0;
	}
	hr {
		height: 2px;
		background-color: #1C1C1C;
		margin:0;
		padding:0;
	}
	
	&_slash {
		margin : 0 0.6em;
	}
	
	svg {
		margin-right: 0.4em;
	}
	
	&_path {
		margin-left: 30vw;
		height: 2em;
		text-align:center;
	}
}