.DropHelper {
	position:absolute;
	opacity: 0%;
	display: flex;
	width: 100%;
	height: 100%;
	&_left {
		width: 50%;
		height: 100%;
	}
	&_right {
		width: 50%;
		height: 100%;
	}
}

.NavBar {
	position: relative;
	display : flex;
	flex-direction: row;
	background-color: inherit;
	color : #ffffff;
	font-size: 14px;
	width: 84vw;
	height: 2em;
	flex-wrap: nowrap;
	overflow-x: auto;
	svg {
		position: absolute;
		right:0;
	}
	
	svg:hover {
		cursor:pointer;
		opacity: 60%;
	}
	
	&_Item {
		padding: 2px 4px 0 4px;
		position:relative;
		width : 8rem;
		text-align:center;
		background-color: #383838;
		margin: 1px 1px 0 1px;
		opacity: 60%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	&_OpenItem {
		padding: 2px 4px 0 4px;
		position:relative;
		width : 8rem;
		text-align:center;
		border: 2px solid #6D9AE3;
		border-bottom: none;
		margin: 0 1px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	
	&_Item:hover, &_OpenItem:hover {
		cursor:pointer;
		
	}
}